html {
    min-height: 100%;
    /* background-image: url(background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* background-color: black; */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "left | center | right"
        "left | center | right";
}

.left {
}

.right {
}

.center {
    display: grid;
    grid-template-areas:
        "header"
        "body"
        "footer"
}

.header {
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    /* color: white; */
}

.body {
}

.footer {
    padding-bottom: 50px;
}
